<div class="col-xl-3 col-lg-12 col-md-12">
	<div class="card overflow-hidden">
		<div class="card-header">
			<h3 class="card-title">Mon Compte</h3>
		</div>
		<div class="card-body item-user p-5">
			<div class="img-absolute-top2 img-absolute-top3"><img src="../assets/images/banners/bg6.png" alt="img"></div>
			<div class="profile-pic text-center reative">
				<div class="profile-pic-img text-center">
					<span class="bg-success dots" data-bs-toggle="tooltip" data-bs-placement="top" title="online"></span>
					<img src="{{asset('../assets/images/brand/profil.jpg')}}" class="br-7 w-100" alt="user">
				</div>
				<a href="userprofile.html" class="text-dark">
					<h4 class="mt-4 mb-0 font-weight-semibold2 fs-16">
						{{app.user.name}} 
						<span class="" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified Owner">
							<i class="fe fe-check-circle text-success fs-13"></i>
						</span>
					</h4>
				</a>
				<p class="mb-0 mt-1 text-muted">
					Propriétaire</p>
			</div>
		</div>
		<aside class="app-sidebar doc-sidebar my-dash">
			<div class="app-sidebar__user clearfix">
				<ul class="side-menu">
					<li>
						<a class="side-menu__item" href="mydash.html">
							<i class="side-menu__icon fe fe-user"></i>
							<span class="side-menu__label">Modifier le profil</span>
						</a>
					</li>
					<li>
						<a class="side-menu__item" href="{{path ('list',{ id : app.user.id} )}}">
							<i class="side-menu__icon fe fe-list"></i>
							<span class="side-menu__label">Mes annonces
							</span>
						</a>
					</li>


					<a href="{{ app.user ? 'logout' : 'login'}}" class="dropdown-item" href="javascript:void(0);">
						<i class="dropdown-icon fe fe-log-out"></i>
						{{ app.user ? 'logout' : 'login'}}
					</a>
				</ul>
			</div>
		</aside>
	</div>
	<div class="card my-select">
		<div class="card-header">
			<h3 class="card-title">Rechercher une annonces</h3>
		</div>
		<div class="card-body">
			<div class="form-group">
				<input type="text" class="form-control" id="text" placeholder="Rechercher">
			</div>
			<div class="form-group select2-radius-single">
				<select name="country" id="select-countries" class="form-control form-select select2-show-search">
					<option>Catégories</option>
					<option value="1">MEUBLES SALON</option>
					<option value="3">MEUBLE DE CHAMBRE</option>
					<option value="4">CUISINE & SALLE DE BAIN</option>
					<option value="5">MEUBLES JARDIN
					</option>

				</select>
			</div>
			<div class="">
				<a href="javascript:void(0);" class="btn btn-primary btn-block waves-effect waves-light">Rechercher
				</a>
			</div>
		</div>
	</div>
