{% extends 'base.html.twig' %}
{% block body %}
<!doctype html>

	


<!--Topbar-->



		<!-- /header-text -->
	
<div class="card-body"> 
	<div id="carousel-indicators6" class="carousel slide" data-bs-ride="carousel" style="margin-left: 10% ; max-width: 80%"> 
		<ol class="carousel-indicators6 carousel-indicators"> <li data-bs-target="#carousel-indicators" data-bs-slide-to="0" class="">

		
		<li data-bs-target="#carousel-indicators" data-bs-slide-to="4" class="active" aria-current="true"></li> </ol>
	 </div> </div></div></div>


<!--/Sliders Section-->
		

		<!--Add listing-->
		<section class="sptb-sm ie-h100" style="padding-top: 0.1rem;">
			<div class="container">
				<div class="row">
					
					<!--Right Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="input-group">
									<input type="text" class="form-control br-ts-7  br-bs-7" placeholder="Recherche">
									<div class="input-group-text p-0 bg-transparent border-0 overflow-hidden">
										<button type="button" class="btn btn-primary br-te-7 br-be-7 waves-effect waves-light">
											Recherche
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Catégories</h3>
							</div>
							<div class="card-body">
								<div class="" id="container">
									<div class="filter-product-checkboxs">
										<label class="custom-control form-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
											<span class="custom-control-label">
												<span class="text-dark"> MEUBLES SALON<span class="label label-secondary float-end">60</span></span>
											</span>
										</label>
										<label class="custom-control form-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
											<span class="custom-control-label">
												<span class="text-dark">MEUBLE DE CHAMBRE<span class="label label-secondary float-end">50</span></span>
											</span>
										</label>
										<label class="custom-control form-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox3" value="option3">
											<span class="custom-control-label">
												<span class="text-dark">CUISINE <span class="label label-secondary float-end">30</span></span>
											</span>
										</label>
										<label class="custom-control form-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox4" value="option3">
											<span class="custom-control-label">
												<span class="text-dark"> SALLE DE BAIN<span class="label label-secondary float-end">10</span></span>
											</span>
										</label>
										<label class="custom-control form-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="checkbox4" value="option3">
											<span class="custom-control-label">
												<span class="text-dark">MEUBLES JARDIN<span class="label label-secondary float-end">20</span></span>
											</span>
										</label>
									</div>
								</div>
							</div>
							<div class="panel-group1" id="accordion2">
								
								<div class="panel panel-default mb-0 p-0">
									<div class="panel-heading1">
										<h4 class="panel-title1">
											<a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-parent="#accordion2" href="#collapsetwo" aria-expanded="false">Filtres	</a>	</h4>
									</div>
									<div id="collapsetwo" class="panel-collapse collapse active" role="tabpanel" aria-expanded="false">
										<div class="panel-body bg-white p-5">
											
											<div class="mt-6">
												<div class="filter-product-checkboxs">
													<label class="custom-control form-checkbox mb-2">
														<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
														<span class="custom-control-label">
															Chambre à coucher
														</span>
													</label>
													<label class="custom-control form-checkbox mb-2">
														<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
														<span class="custom-control-label">
															Chambre Enfant
														</span>
													</label>
													<label class="custom-control form-checkbox mb-0">
														<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
														<span class="custom-control-label">
															Bureau et Chaise
														</span>
													</label>
												</div>
									
										
											
												<div class="filter-product-checkboxs">
													<label class="custom-control form-checkbox mb-2">
														<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
														<span class="custom-control-label">
															Coiffeuse
														</span>
													</label>
													<label class="custom-control form-checkbox mb-2">
														<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
														<span class="custom-control-label">
															Lit bébé
														</span>
													</label>
													<label class="custom-control form-checkbox mb-2">
														<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
														<span class="custom-control-label">
															Lit Capitonné
														</span>
													</label>
													<label class="custom-control form-checkbox mb-2">
														<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
														<span class="custom-control-label">
															Salon														</span>
													</label>
													<label class="custom-control form-checkbox mb-0">
														<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
														<span class="custom-control-label">
															Séjour
														</span>
													</label>
												</div>
										
										
												<div class="filter-product-checkboxs">
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
														<span class="custom-control-label">Fauteuils</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
														<span class="custom-control-label">Meuble métallique</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
														<span class="custom-control-label">Meuble d’entrée</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
														<span class="custom-control-label">Porte Chaussure</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
														<span class="custom-control-label">Meuble TV</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2">
														<span class="custom-control-label">Table à manger</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3">
														<span class="custom-control-label">Table de cuisine</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3">
														<span class="custom-control-label">Meuble Jardin</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3">
														<span class="custom-control-label">Elevator Building</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3">
														<span class="custom-control-label">Luxury Rooms</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3">
														<span class="custom-control-label">Wheelchair Access</span>
													</label>
													<label class="custom-control form-checkbox mb-1">
														<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3">
														<span class="custom-control-label">Events</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<a href="javascript:void(0);" class="btn btn-primary btn-block waves-effect waves-light">Recherche</a>
							</div>
						</div>
						<div class="card mb-0">
							<div class="card-header">
								<h3 class="card-title">Social Media</h3>
							</div>
							<div class="card-body product-filter-desc">
								<div class="product-filter-icons text-center">
									<a href="javascript:void(0);" class="icon-style-circle-lg text-primary"><i class="fe fe-facebook"></i></a>
									<a href="javascript:void(0);" class="icon-style-circle-lg text-primary"><i class="fe fe-linkedin"></i></a>
									<a href="javascript:void(0);" class="icon-style-circle-lg text-primary"><i class="fe fe-share-2"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!--/Right Side Content-->

					<!--Add lists-->
					<div class="col-xl-8 col-lg-8 col-md-12">
						<div class="row">
							
							
							
							
							
								
							{% for annonce in annonces %}
							<div class="col-xl-6 col-lg-12 col-md-6">
						
								<div class="card overflow-hidden">
									
									<div class="ie-h100">
										<div id="image-slider2" class="carousel" data-bs-ride="carousel">
											<div class="carousel-inner">
												<div class="carousel-item active">
													<img src="{{asset('uploads/images/products/'~annonce.couverture)}}" alt="img" class="cover-image">
												</div>
											
											</div>
											
										</div>
									</div>
									<div class="card-body">
										<div class="item7-card-desc d-flex mb-1 fs-13">
											<a href="Détails-annonce.html" class="text-muted"><i class="fe fe-calendar text-muted me-2"></i>{{annonce.datecreation | date('d-m-Y')}}</a>
											<a href="Détails-annonce.html" class="text-muted"><i class="fe fe-user text-muted me-2"></i> SOTEB</a>
										
										</div>
										<a href="Détails-annonce.html" class="text-dark"><h4 class="font-weight-semibold2 mb-2">{{annonce.categorieId.nom}}</h4></a>
										<p class="text-muted">{{annonce.description}}</p>
										<a href="Détails-annonce.html" class="btn btn-primary btn-sm waves-effect waves-light">Plus de details<i class="fe fe-chevrons-right ms-1"></i></a>
									</div>
						
								</div>
											
							</div>
							{% endfor %}
						</div>
						
						<div class="center-block text-center">
							<ul class="pagination mb-0">
									{{ knp_pagination_render(annonces) }}
								
							</ul>
							
						</div>
					</div>
					<!--/Add lists-->
					

				</div>
			</div>
		</section>
		<!--/Add Listings-->

		

	<!--Footer Section-->
	<section>
		<footer class="bg-dark-purple text-white" style=" background-color: #000000 !important	;">
			
			<div class="footer-main border-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-6 col-md-12">
							
							<h6 class="mb-2 mt-6">CONTACT</h6>
							<ul class="social-icons mb-0 mt-3">
								<li>
									<a class="social-icon" href=""><i class="fa fa-facebook text-white-50"></i></a>
								</li>
								
								<li>
									<a class="social-icon" href=""><i class="fa fa-linkedin text-white-50"></i></a>
								</li>
							</ul>
						</div>
					
						<div class="col-xl-4 col-lg-6 col-md-12">
							<h6 class="mt-6 mt-xl-0">BUSINESS MEUBLES CONTACT</h6>
							<ul class="list-unstyled mb-0">
								<li>
									<a href="javascript:void(0);" class="footer-icon-circle"><i class="fe fe-home me-3 text-white-50"></i> Immeuble Ennassim Montplaisir Tunis
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="footer-icon-circle"><i class="fe fe-mail me-3 fs-12 text-white-50"></i> business-meubles@outlook.fr</a>
								</li>
								
								<li>
									<a href="javascript:void(0);" class="footer-icon-circle"><i class="fe fe-phone me-3 text-white-50"></i> +000 00 000 000 / +000 00 000 000</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-dark-purple text-white-50 p-3"style=" background-color: #9d7153 !important	;">
				<div class="container">
					<div class="row d-flex">
						<div class="col-lg-6 col-sm-12 mt-2 mb-2"style="color: #000 !important	;">
							 BUSINESS MEUBLES , Tous les droits sont réservés ,
							 Conçu par BUSINESS PLUS
						</div>
						
					</div>
				</div>
			</div>
		</footer>
	</section>
	<!--Footer Section-->










<!--Section-->
<section class="sptb" style=" background-color: black;  ">
<div class="container">
	<div class="section-title">
	
		<h2> <span class="font-weight-semibold2" style="color: #ffffff"> BUSINESS PLUS</span> </h2>
		
	</div>
	<div class="owl-carousel offers-carousel">
		<div class="item">
			<div class="special-property-offer">
				<div class="d-md-flex">
					<a href="Détails-annonce.html" class="absolute-link2"></a>
					<div class="special-property-offer-img">
						<img src="../assets/images/products/category/1.png" alt="img" class="">
					</div>
					<div class="card special-property-offer-details">
						<div class="card-body">
							
							<div class="item-card2">
								<div class="item-card2-text">
									<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS ANNONCES "</h5></a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
										debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
										debitis hic ber quibusdam voluptatibus officia expedita corpori.
									  </p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="special-property-offer">
				<div class="d-md-flex">
					<a href="Détails-annonce.html" class="absolute-link2"></a>
					<div class="special-property-offer-img">
						
						<img src="../assets/images/products/category/2.png" alt="img" class="">
					</div>
					<div class="card special-property-offer-details">
						<div class="card-body">
							
							<div class="item-card2">
								<div class="item-card2-text">
									<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS ELECTRO "</h5></a><p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
										debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
										debitis hic ber quibusdam voluptatibus officia expedita corpori.
									  </p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="special-property-offer">
				<div class="d-md-flex">
					<a href="Détails-annonce.html" class="absolute-link2"></a>
					<div class="special-property-offer-img">
						<img src="../assets/images/products/category/3.png" alt="img" class="">
					</div>
					<div class="card special-property-offer-details">
						<div class="card-body">
							
							<div class="item-card2">
								<div class="item-card2-text">
									<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS SERVICES "</h5></a><p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
										debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
										debitis hic ber quibusdam voluptatibus officia expedita corpori.
									  </p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
	</div>
</div>
</section>
<!--Section--> 


		

	

		


		

	
{% endblock %}