<div class="container">
		<div class="section-title">
		
			<h2> <span class="font-weight-semibold2" style="color: #ffffff"> BUSINESS PLUS</span> </h2>
			
		</div>
		<div class="owl-carousel offers-carousel">
			<div class="item">
				<div class="special-property-offer">
					<div class="d-md-flex">
						<a href="Détails-annonce.html" class="absolute-link2"></a>
						<div class="special-property-offer-img">
							<img src=" {{asset('../assets/images/products/category/1.png')}}" alt="img" class="">
						</div>
						<div class="card special-property-offer-details">
							<div class="card-body">
								
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="https://www.business-plus.tn/" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS ANNONCES "</h5></a>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.
										  </p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="special-property-offer">
					<div class="d-md-flex">
						<a href="https://www.business-plus.tn/" class="absolute-link2"></a>
						<div class="special-property-offer-img">
							
							<img src=" {{asset('../assets/images/products/category/2.png')}}" alt="img" class="">
						</div>
						<div class="card special-property-offer-details">
							<div class="card-body">
								
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="https://www.business-plus.tn/" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS ELECTRO "</h5></a><p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.
										  </p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="special-property-offer">
					<div class="d-md-flex">
						<a href="https://www.business-plus.tn/" class="absolute-link2"></a>
						<div class="special-property-offer-img">
							<img src=" {{asset('../assets/images/products/category/3.png')}}" alt="img" class="">
						</div>
						<div class="card special-property-offer-details">
							<div class="card-body">
								
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="https://www.business-plus.tn/" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS SERVICES "</h5></a><p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.
										  </p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="special-property-offer">
					<div class="d-md-flex">
						<a href="https://www.business-plus.tn/" class="absolute-link2"></a>
						<div class="special-property-offer-img">
							<img src=" {{asset('../assets/images/products/category/7.png')}}" alt="img" class="">
						</div>
						<div class="card special-property-offer-details">
							<div class="card-body">
								
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="https://www.business-plus.tn/" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS MODE " </h5></a><p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.
										  </p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="special-property-offer">
					<div class="d-md-flex">
						<a href="https://www.business-plus.tn/" class="absolute-link2"></a>
						<div class="special-property-offer-img">
							<img src=" {{asset('../assets/images/products/category/5.png')}}" alt="img" class="">
						</div>
						<div class="card special-property-offer-details">
							<div class="card-body">
								
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="https://www.business-plus.tn/" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS IMMO "</h5></a><p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.
										  </p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="special-property-offer">
					<div class="d-md-flex">
						<a href="https://www.business-plus.tn/" class="absolute-link2"></a>
						<div class="special-property-offer-img">
							<img src=" {{asset('../assets/images/products/category/6.png')}} " alt="img" class="">
						</div>
						<div class="card special-property-offer-details">
							<div class="card-body">
								
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="https://www.business-plus.tn/" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS ANIMAUX "
										</h5></a><p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.
										  </p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="special-property-offer">
					<div class="d-md-flex">
						<a href="https://www.business-plus.tn/" class="absolute-link2"></a>
						<div class="special-property-offer-img">
							<img src=" {{asset('../assets/images/products/category/8.png')}}" alt="img" class="">
						</div>
						<div class="card special-property-offer-details">
							<div class="card-body">
								
								<div class="item-card2">
									<div class="item-card2-text">
										<a href="https://www.business-plus.tn/" class="text-dark"><h5 class="font-weight-semibold2">" BUSINESS SPORT "
										</h5></a><p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.adipisicing elit. Omnis, cupiditate ea nam praesentium
											debitis hic ber quibusdam voluptatibus officia expedita corpori.
										  </p>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>