<div class="container">
			<div class="section-title">
				<h2>Autre Business Meubles</h2>
			</div>
			<div class="owl-carousel owl-carousel-icons41">

				<div class="item text-center">				
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('../assets/images/locations/circle/ICONE2.png')}}" alt="" class="brround">
					</div>
				</div>

				<div class="item text-center">
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('../assets/images/locations/circle/ICONE1.png')}}" alt="" class="brround">
					</div>
				</div>

				<div class="item text-center">
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('../assets/images/locations/circle/ICONE2.png')}}" alt="" class="brround">
						
					</div>
				</div>

				<div class="item text-center">
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('../assets/images/locations/circle/ICONE3.png')}}" alt="" class="brround">
						
					</div>
				</div>

				<div class="item text-center">
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('../assets/images/locations/circle/ICONE4.png')}}" alt="" class="brround">
						
					</div>
				</div>

				<div class="item text-center">
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('')}}" alt="" class="brround">
						
					</div>
				</div>

				<div class="item text-center">
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('../assets/images/locations/circle/ICONE1.png')}}" alt="" class="brround">
					</div>
				</div>

				<div class="item text-center">
					<div class="relative">
						<a class="absolute-link2" href="#"></a>
						<img src=" {{asset('../assets/images/locations/circle/ICONE4.png')}}" alt="" class="brround">
						
					</div>
				</div>
			</div>
		</div>