<div class="cover-image sptb-2 sptb-tab bg-background2 ie-margin-top" data-bs-image-src=" {{asset('../assets/images/banners/main2.jpg')}}">
			<div class="header-text mb-0">
				<div class="container">
					
					<div class="row">
						<div class="col-12">
							<div class="owl-carousel owl-carousel-icons">
								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/h2.jpg')}}" alt="img" class="cover-image">
										</div>
										
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text">
													<a href="Détails-annonce.html" class="text-dark">
														<h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
										
											</div>
										</div>
									</div>


								</div>
								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/b2.png')}}" alt="img" class="cover-image">
										</div>
										
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text">
													<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
												
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/b3.png')}}" alt="img" class="cover-image">
										</div>
										
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text">
													<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
												
												
											</div>
										</div>
									</div>

								</div>
								    <div class="item">
									<div class="card mb-0 overflow-hidden border-0">
									<div class="item-card2-img m-0 br-bs-0 br-be-0">
										<a href="Fiche-Showroom.html"></a>
                                    <img src=" {{asset('../assets/images/products/products/h2.jpg')}}" alt="img" class="cover-image">
									</div>
								    
									</div>
									<div class="card category-card">
									<div class="card-body">
									<div class="item-card2">
									<div class="item-card2-text">
									<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2"> Meilleur Partenaire </h5></a>
									<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
									</div>
												
									</div>
									</div>
									</div>
									
								</div>

								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/h3.jpg')}}" alt="img" class="cover-image">
										</div>
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text" >
													<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
											
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 d-block mx-auto" >
							<div class="search-background bg-white p-6 banner-absolute-section border shadow"style=" padding: 1rem !important;">
								<div class="form row g-0 ">
									<div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white ">
										<input type="text" class="form-control input-lg br-te-md-0 br-be-md-0" placeholder="chercher sur Business Meuble"> </div>
									
									<div class="form-group col-xl-4 col-lg-3 col-md-12 select2-lg  mb-0 bg-white">
										<select class="form-control select2-show-search  border-bottom-0" data-placeholder="Select Category">
											<optgroup label="Categories">
												<option>Catégories</option>
												<option value="1">Meubles Salon</option>
												<option value="3">Meubles de Chambre</option>
												<option value="4"> Cuisine & Salle de Bain</option>
												<option value="5"> Meubles Jardin </option>
												
											</optgroup>
										</select>
									</div>
									<div class="col-xl-4 col-lg-3 col-md-12 mb-0">
										<a href="liste-d'annonces.html" class="btn btn-lg btn-block btn-primary waves-effect waves-light br-ts-md-0 br-bs-md-0"> Recherche</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>