<div class="cover-image sptb-2 sptb-tab bg-background2 ie-margin-top" data-bs-image-src=" {{asset('../assets/images/banners/main2.jpg')}}">
			<div class="header-text mb-0">
				<div class="container">
					
					<div class="row">
						<div class="col-12">
							<div class="owl-carousel owl-carousel-icons">
								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/h2.jpg')}}" alt="img" class="cover-image">
										</div>
										
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text">
													<a href="Détails-annonce.html" class="text-dark">
														<h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
										
											</div>
										</div>
									</div>


								</div>
								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/b2.png')}}" alt="img" class="cover-image">
										</div>
										
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text">
													<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
												
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/b3.png')}}" alt="img" class="cover-image">
										</div>
										
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text">
													<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
												
												
											</div>
										</div>
									</div>

								</div>
								    <div class="item">
									<div class="card mb-0 overflow-hidden border-0">
									<div class="item-card2-img m-0 br-bs-0 br-be-0">
										<a href="Fiche-Showroom.html"></a>
                                    <img src=" {{asset('../assets/images/products/products/h2.jpg')}}" alt="img" class="cover-image">
									</div>
								    
									</div>
									<div class="card category-card">
									<div class="card-body">
									<div class="item-card2">
									<div class="item-card2-text">
									<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2"> Meilleur Partenaire </h5></a>
									<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
									</div>
												
									</div>
									</div>
									</div>
									
								</div>

								<div class="item">
									<div class="card mb-0 overflow-hidden border-0">
										<div class="item-card2-img m-0 br-bs-0 br-be-0">
											<a href="Fiche-Showroom.html"></a>
											<img src=" {{asset('../assets/images/products/products/h3.jpg')}}" alt="img" class="cover-image">
										</div>
									</div>
									<div class="card category-card">
										<div class="card-body">
											<div class="item-card2">
												<div class="item-card2-text" >
													<a href="Détails-annonce.html" class="text-dark"><h5 class="font-weight-semibold2">Meilleur Partenaire</h5></a>
													<h5 class="font-weight-bold mb-0 fs-18">9850 <span class="fs-12 font-weight-normal"> / Annonces</span></h5>
												</div>
											
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>