{% extends 'base.html.twig' %}
{% block body %}
{{ include('includes/slider.html.twig') }}
{{ include('includes/recherche.html.twig') }}
{{ include('includes/section1.html.twig') }}
<div class="container">
		<div class="section-title">
			
			<a href="{{path('all_annonce')}}"><h2>Tout<span class="font-weight-semibold2"> les</span> Annonces</h2></a>
			
		</div>
		<div class="row">

			<div class="col-md-12">
				<div class="items-gallery">
					<div class="items-blog-tab">
						<div class="items-blog-tab-heading">
							
						</div>
						<div class="tab-content p-0">
								
											
										
							<div class="tab-pane active" id="tab-1">
								<div class="row" id="container3">
								{% for annonce in annonces %}
								{% if annonce.etatannonce == 'Publique' %}
									<div class="col-xl-3 col-lg-4 col-md-6">
										<div class="card overflow-hidden">
										
											<div class="item-card8-img">
											
											
												<a href="{{ path('annonce_detiel', {id: annonce.id}) }}"></a>
												<img src=" {{asset('uploads/images/products/'~annonce.couverture)}}" alt="img" class="cover-image">
											</div>
											
											<div class="item-card8-overlaytext">
												<h6 class="bg-secondary mb-0 text-white fs-12 font-weight-semibold mb-0">{{annonce.categorieId.nom}}</h6>
											</div>
											<div class="card-body">
												<div class="item-card8-desc">
													<p class="text-muted mb-1 fs-12">{{annonce.datecreation | date('d-m-Y')}}</p>
													<a href="Détails-annonce.html"><h5 class="font-weight-semibold2">{{annonce.title}}</h5></a>
													<p class="mb-3 mt-2">
													{{annonce.description}}
														
													</p>
													<div class="h3 mb-0 text-default font-weight-bold">{{annonce.prix}} <span class="fs-14 font-weight-normal">/ DT</span></div>
												</div>
											</div>
											
										</div>
									</div>
									{% endif %}
								{% endfor %} 
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ include('includes/section3.html.twig') }}
{% endblock %}
